.name_img img {
  object-position: 50% 55%;
}

.blog_context {
  margin-bottom: 16rem;
}

.blog_item {
  display: flex;
  gap: 6rem;
  align-items: center;
  margin-bottom: 6rem;
}

.blog_item_img {
  cursor: pointer;
}

.blog_item_img img {
  object-position: 50% 70%;
  width: 37rem;
  max-height: 29rem;
}

.blog_item_text {
  max-width: 47rem;
}

.blog_item_text a h3 {
  font-size: clamp(2.2rem, 2.099vw + 1.478rem, 4.5rem);
  line-height: clamp(2.6rem, 2.099vw + 1.478rem, 4.5rem);
  margin-bottom: 2rem;
  color: #fff;
}

.blog_item_text p {
  margin-bottom: 2.5rem;
}

.blog_btn span {
  font-size: clamp(1.8rem, 0.875vw + 1.52rem, 3.2rem);
  font-weight: 500;
  margin-right: 4rem;
  color: #fff;
}

.blog_btn i {
  font-size: clamp(1.8rem, 0.875vw + 1.52rem, 2.5rem);
  color: #fff;
  transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
  .blog_context {
    margin-bottom: 10rem;
  }
  .blog_item {
    flex-direction: column;
  }
  .blog_item_img img {
    width: 32rem;
    height: 24rem;
  }
}

@media screen and (max-width: 344px) {
  .blog_context {
    margin-bottom: 0rem;
  }
  .blog_item {
    gap: 3rem;
  }
  .blog_item_img img {
    width: 28rem;
    height: 20rem;
  }
}
