.contacts_context {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  column-gap: 10rem;
  row-gap: 1.5rem;
  margin-bottom: 4rem;
}

.contacts_item {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.contacts_item a {
  color: #fff;
}

.contacts_item i {
  color: var(--color-yellow);
  font-size: 2.5rem;
}

@media screen and (max-width: 992px) {
  .contacts_context {
    row-gap: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    height: 40rem;
  }
}
